<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'aseests/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{%static 'aseests/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{%static 'aseests/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'style/master.css' %}">
    <script src="{%static 'js/javascript.js' %}"></script>
    <script src="{%static 'aseests/jquery/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script async="" src="{%static 'js/Line%20Chart_files/analytics.js' %}"></script>
    <script src="{%static 'js/Line%20Chart_files/chart.js' %}"></script>
    <script src="{%static 'js/Line%20Chart_files/utils.js' %}"></script>
    <title>خانه هوشمند تک بی</title>
</head>

<body>
    <header>
      <div class="top-header d-flex justify-content-center align-items-center">
        <div class="hamber-icon">
          <span class="hamber-icon_top"></span>
          <span class="hamber-icon_middle"></span>
          <span class="hamber-icon_bottom"></span>
        </div>
        <figure class="logo mb-0">
          <img src="{%static 'images/logo.png' %}" class="img-fluid" alt="">
        </figure>
      </div>
        <div class="slider-menu">
            <div class="login d-flex justify-content-center align-items-center">
              <a href="/test">
                <div class="text-white d-flex flex-column align-items-center">
                  <div class="user-icon">
                    <i class="fas fa-user"></i>
                  </div>
                
                  <span>خوش آمدید</span>
                </div>
              </a>
            </div>
  
            <nav class="navigation-menu_mobile">
              <ul>
                <li>
                  <a href="{% url 'dashboard' %}">داشبورد</a>
                </li>
                <li>
                  <a href="{% url 'devices' %}">
                    دستگاه‌ها
                  </a>
                </li>
                <li>
                  <a href="{% url 'charts' %}">نمودارها </a>
                </li>
              </ul>
            </nav>
          </div>
       
    </header>
    <main>
        <div id="fake"></div>
    </main>
</body>
</html>