<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="description" content="An interactive getting started guide for Brackets.">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lalezar">
  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
    integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
  <title>خانه هوشمند تک بی</title>
  <script src="https://kit.fontawesome.com/5d9e2c6692.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js"></script>
  <!-- <script type="text/javascript" src="{%static 'js/javascript.js' %}"></script> -->
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <h1 class="companyName">خانه هوشمند تِک‌بی</h1>
        </div>
        <div class="col-md-6 col-sm-6 col-6"><img class="logo" src="{%static 'img/techbee-logo.jpg' %}"></div>
      </div>
    </div>
    <!-- nav links -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'dashboard')">داشبورد</button>
      <button class="tablinks" onclick="openTab(event, 'places')" id="defaultOpen">دستگاه‌ها</button>
      <button class="tablinks" onclick="openTab(event, 'scenarios')">سناریوها</button>
      <button class="tablinks" onclick="openTab(event, 'messages')">پیام‌ها</button>
    </div>
    <!-- nav contents -->
    <div id="dashboard" class="tabcontent">
      <div class="row">
        {% for place in places.all %}
          {% if place.device_type == 'حسگر' %}
            <div class="col-lg-3 col-sm-12">
              <div class="box border border-warning">
                <p class="topic bg-warning border border-warning rounded-top">{{ place.place }} > {{place.device_type}} {{ place.device }}</p>
                <div class="row">
                  <i class="col-md-6 {{place.icon_class}}" id="icon"></i>
                  <!-- <p class="col-md-6" id="sensor-text"></p> -->
                  <p class="col-md-6 sensor-data" id='{{place.place}}/{{place.device_type}} {{place.device}}'></p>
                </div>
              </div>
            </div>  
          {% endif %}
        {% endfor %}
      </div>

      <div class="row">
        {% for place in places.all %}
          {% if place.device_type == 'عملگر' %}
            <div class="col-md-3 col-sm-12">
              <div class="box border border-info">
                <p class="topic bg-info border border-info rounded-top">{{ place.place }} > {{ place.device }}</p>
                  <div class="row">
                    <p class="col-md-6" id='{{ place.unique_id }}'>خاموش</p>
                    <div class="col-md-6">
                      <label class="switch">
                        <input type="checkbox" onclick="publish('{{ place.unique_id }}')">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id="places" class="tabcontent">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
          <div class="card bg-primary text-white text-center p-2 mb-2">دستگاه جدید</div>
          <form class="text-center" action="{% url 'post' %}" method='POST'>
            {% csrf_token %}
            <table>
              <tr class="first-row">
                <th>مکان</th>
                <th>نوع دستگاه</th>
                <th>دستگاه</th>
                <th>شناسه</th>
              </tr>
              <tr>
                <th><input id="place" class="rounded" type="text" name="place"></th>
                <th>
                  <select id="device_type" class="rounded" type="text" name="device_type">
                    <option value="حسگر">حسگر</option>
                    <option value="عملگر">عملگر</option>
                  </select>
                </th>
                <th><input id="device" class="rounded" type="text" name="device"></th>
                <th><input class="rounded" type="text" name="unique_id"></th>
              </tr>
            </table>
            <input class="btn-dark rounded mt-2" type="submit" name="button" onclick="add_topic(document.getElementById('place').value,document.getElementById('device_type').value,document.getElementById('device').value)" value="افزودن">
          </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
          <div class="card bg-success text-white text-center p-2 mb-2">دستگاه‌های موجود</div>
          <div class="col-lg-12 text-center">
            <table>
              <tr class="first-row">
                <th>مکان</th>
                <th>نوع دستگاه</th>
                <th>دستگاه</th>
                <th>شناسه</th>
              </tr>
              {% for place in places.all %}
              <tr>
                <th>{{ place.place }}</th>
                <th>{{ place.device_type }}</th>
                <th>{{ place.device }}</th>
                <th>{{ place.unique_id }}</th>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="scenarios" class="tabcontent">Scenarios</div>
    <div id="messages" class="tabcontent">Messages</div>
  </div>
</body>

<script>
  document.getElementById("defaultOpen").click();

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
<script>
//parameters
var hostname = "mqtt.eclipse.org";
var port = 80;
var ClientID = "ClientID_" + parseInt(Math.random()*100);
// var HouseID = "House_" + parseInt(Math.random()*1000000);

//Create a client instance
var client = new Paho.MQTT.Client(hostname, Number(port), ClientID);

//Set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// Connect the client
client.connect(
  {onSuccess: onConnect}
);

//Called when client connects
var topics = [];
{% for topic in places.all %}
  {% if topic.device_type == 'حسگر' %}
    topics.push('{{topic.place}}/{{topic.device_type}} {{topic.device}}');
  {% endif %}
{% endfor %}
function onConnect() {
  //Once a connection has been established, make a subscription and send a message
  console.log("onConnect");
  // var i;
  // for (i = 0; i < topics.length; i++) {
  //   client.subscribe(topics[i]);
  // }
  // client.subscribe("switch-toggle");
  alert("Connected.");
}

//Called when the client loses its connection
function onConnectionLost(responseObject){
  if(responseObject.errorCode != 0){
    console.log("onConnectionLost:" + responseObject.errorMessage);
  }
}

//Called when a message arrives
function onMessageArrived(message){
  console.log("Message arrived: topic=" + message.destinationName + ", message=" + message.payloadString);
  // var i;
  // for (i = 0; i < topics.length; i++) {
  //   document.getElementById(topics[i]).innerHTML = message.payloadString + '&degC';
  // }

  // var str = message.payloadString;
  // alert(str);
  // arr = str.split("/");
  // alert(arr[0]+'/'+arr[1]);
  // if (arr[1] == '2') {
  //   $(document).ready(function(){
  //     var id = arr[0];
  //     if ($("#id").is(':checked')) {
  //       $("#id").attr("checked", false);
  //       alert("toggle off");
  //       $("#id").click();
  //     }
  //     else {
  //       $("#id").attr("checked", true);
  //       alert("toggle on");
  //       $("#id").click();
  //     }
  //   });
  // }
}

function publish(x) {
  if(!client){
    return;
  }
  var status = document.getElementById(x);
  if (status.innerHTML == 'روشن'){
    status.innerHTML = 'خاموش';
    status.style.color = "#00B2F6";
    var message = new Paho.MQTT.Message(x+'0');
    message.destinationName = "AMA_PROJECT-lamps";
    // alert(x+'/0');
    client.send(message);
  } else {
    status.innerHTML = 'روشن';
    status.style.color = "#ffb80e";
    var message = new Paho.MQTT.Message(x+'1');
    message.destinationName = "AMA_PROJECT-lamps";
    // alert(x+'/1');
    client.send(message);
  }
}

function add_topic(place, device_type, device) {
  if(!client){
    return;
  }
  if(device_type == 'حسگر'){
    var message = new Paho.MQTT.Message(place+'/'+device);
    message.destinationName = "add_topic_sen";
    client.send(message);
  }
  else{
    var message = new Paho.MQTT.Message(place+'/'+device);
    message.destinationName = "add_topic_act";
    client.send(message);
  }
}
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
  integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>